{% extends 'base.html' %}

{% block title %} Shopping Mall | About Us
{% endblock title %}


{% block body %} 

<div class="container-fluid p-5 my-5 bg-primary text-center text-white">
<h1>WHO AM I ?</h1>
</div>

<div class="row text-center">
<div class="col-md-5">
<div class="container">
<img src="static/e18252bf-8fa0-447d-a894-764d6d5687fe.jpg" class="rounded" height="500px" width="350px">
</div>
</div>
<div class="col-md-6">
<div class="container py-5 abt" style="background-color: lightblue; color:midnightblue">
<p> <br><br>I am</p>
<h1 style="font-size:50px">SAMPADA DESHPANDE</h1 >
<h6 style="font-size: 20px"> <br>I take orders from the users on this Shopping Mall website and send the product's description, features and specifications, 
price on the whatsapp number of users so that users can select their desired product and order it personally.<br><br>
Cash on delivery available.<br> Return product available.<br> Delivery accross India available.<br><br></h6>
</div>
</div>
</div>
{% endblock body %}

