{% extends 'base.html' %}

{% block title %} Shopping Mall | Photos
{% endblock title %}


{% block body %} 

<div class ="container-fluid px-0 mt-1 fm">
<div class="imp">
<img src="static/Hotel_Bed_Linen.jpg" class="d-block w-100 mx-0 " height="400px" alt=" " name="up">
</div>
</div>

<div class="container py-5 px-5  fm">
<h1 class="text-center">Wellcome shopping at Shopping Mall<br></h1>
<h6 class="text-center">Fill the below details as per your need. Photos and price of the product will be sent to you on whatsapp<br><br></h6>
<form id='contact-form' action='/other' method='POST'>
{% csrf_token %}
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Name</label>
      <input type="text" class="form-control" id="inputEmail4" placeholder="full name" name="name">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Phone Number</label>
      <input type="number" class="form-control" id="inputPassword4" placeholder="" name="phonenumber">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Product</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="e.g- Bedsheets, selfie stick" name="product">
  </div>
 
    <div class="form-group col-md-6">
      <label for="inputCity">Size(optional)</label>
      <input type="text" class="form-control" id="inputCity" placeholder="e.g- regular on in centimeters"  name="size">
    </div>
   
    <div class="form-group col-md-8">
      <label for="inputZip">Description(optional)</label>
      <input type="text" class="form-control" id="inputZip" name="description">
    </div>
<a href="/order" onclick="document.getElementById('contact-form').submit();"><button type="submit" class="btn btn-primary btn-block">Check photos</button></a>
  
  </div>
  
</form>
</div>

{% endblock body %}

