{% extends 'base.html' %}

{% block title %} Shopping Mall | Sent Form
{% endblock title %}


{% block body %} 

<div class="jumbotron-fluid py-5 text-center">
<div class="sent py-5">
     <h1 class="display-4"><br></h1>
  <h1 class="display-4">Sent Successfully</h1>
  <p class="lead">Your form is recived by the team. Team will get back to you shortly.</p>
  <hr class="my-4">
  <p>To continue using website press back.</p>
  
</div>
<p class="lead text-center mt-3">
    <a class="btn btn-primary btn-lg" class="btn-block" href="index" role="button">Back</a>
  </p>

{% endblock body %}

